//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  font-weight: 300;
}


// Alternate buttons
// --------------------------------------------------

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, transparent);
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, 3px);
}
