//
// Forms
// --------------------------------------------------


// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.form-control {
  color: $input-color;
  background-color: $input-bg;
  border: 1px solid $input-border;
  box-shadow: none;

  $color: $input-border;
  $color-rgba: rgba(red($color), green($color), blue($color), .6);
  &:focus {
    border-width: 3px;
    border-color: $input-border;
    padding: 8px;
    outline: 0;
    box-shadow: 0 0 8px $color-rgba;
  }
}


// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
// The `.form-group-* form-control` variations are sadly duplicated to avoid the
// issue documented in https://github.com/twbs/bootstrap/issues/15074.

@include input-size('.input-lg', $input-height-large, $padding-large-vertical, $padding-large-vertical, $font-size-base, $line-height-large, 0);
