@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('#{$icon-font-path}opensans-light.eot?#iefix') format('embedded-opentype'),
       url('#{$icon-font-path}opensans-light.woff2') format('woff2'),
       url('#{$icon-font-path}opensans-light.woff') format('woff'),
       url('#{$icon-font-path}opensans-light.ttf') format('truetype'),
       url('#{$icon-font-path}opensans-light.svg#opensans_light') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('#{$icon-font-path}opensans-regular.eot?#iefix') format('embedded-opentype'),
       url('#{$icon-font-path}opensans-regular.woff2') format('woff2'),
       url('#{$icon-font-path}opensans-regular.woff') format('woff'),
       url('#{$icon-font-path}opensans-regular.ttf') format('truetype'),
       url('#{$icon-font-path}opensans-regular.svg#opensans_regular') format('svg');
}
