//
// Variables
// --------------------------------------------------


//== Colors
//
//## brand color for use across Bootstrap.

$brand-primary:         #dc0204;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


//== Iconography
//
//## Specify custom location and filename of the included xIcons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
$icon-font-path:          "../fonts/";


//== Forms
//
//##

//** `<input>` background color
$input-bg:                       #f5f5f5 !default;

//** Text color for `<input>`s
$input-color:                    #616161 !default;
//** `<input>` border color
$input-border:                   #d7d7d7 !default;

// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius:            0 !default;

//** Large `.form-control` height
$input-height-large:             47px !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;

// Large screen / wide desktop
$container-large-desktop:      (1024px + $grid-gutter-width) !default;
//** For `@screen-lg-min` and up.
$container-lg:                 $container-large-desktop;


//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    69px;
