//
// xIcons
//
// Since icons are fonts, they can be placed anywhere text is placed and are
// thus automatically sized to match the surrounding child. To use, create an
// inline element with the appropriate classes, like so:
//
// <a href="#"><span class="glyphicon glyphicon-star"></span> Star</a>

// Import the fonts
@font-face {
  font-family: xicons-moveisjae;
  src: url('#{$icon-font-path}xicons-moveisjae.eot');
  src: url('#{$icon-font-path}xicons-moveisjae.eot?#iefix') format('embedded-opentype'),
       url('#{$icon-font-path}xicons-moveisjae.woff2') format('woff2'),
       url('#{$icon-font-path}xicons-moveisjae.woff') format('woff'),
       url('#{$icon-font-path}xicons-moveisjae.ttf') format('truetype'),
       url('#{$icon-font-path}xicons-moveisjae.svg#xicons_moveisjae') format('svg');
}
