/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

// Core variables and mixins
@import "variables";
@import "twbs/bootstrap/variables";
@import "twbs/bootstrap/mixins";

@import "xicons";
@import "open-sans";

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #fff;
  background-attachment: fixed;
  font-family: $font-family-sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: $navbar-height + 1;
}

.home.loading {
  margin-top: 0;
}

/* Portrait layout (default) */
.app {
  &,
  > div,
  > div > div {
    height: 100%;
    min-height: 100%;
//  display: -webkit-flex;
//  display: flex;
//  -webkit-align-items: center;
//  align-items: center;
//  -webkit-justify-content: center;
//  justify-content: center;
  }
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  .app {
  }
}

$red: #ee1c25;

$width: 100px;
$zoom: 1;

.loader {
  position: absolute;
  margin: 0px auto;
  width: $width;
  height: $width;
  zoom: $zoom;

  top: 50%;
  left: 50%;
  margin-left: -$width/2;
  margin-top: -$width/2;
}

.circular {
  animation: rotate 2s linear infinite;
  height: $width;
  position: relative;
  width: $width;
}

.path {
  stroke: $red;
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

.navbar-brand {
  font: 0/0 a;
  text-shadow: none;
  border: 0;

  width: 107px;
  height: 69px;
  padding: 8px 16px;
  background-image: url(../img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75px 53px;

  @media (min-width: $grid-float-breakpoint) {
    background-color: #fff;
  }

  .navbar & {
    color: transparent;

    &:focus,
    &:hover {
      color: transparent;
      background-color: transparent;

      @media (min-width: $grid-float-breakpoint) {
        background-color: #fff;
      }
    }
  }
}

.navbar-brand {
  background-image: url(../img/logo.svg);
}

.navbar {
  background-color: #fff;
  border-color: #e7e7e7;

  .home & {
    margin-bottom: 0;
  }
}

.navbar-toggle {
  padding: 6px;
  @include navbar-vertical-align(33px);
  border-width: 3px;
  border-radius: 0;

  .icon-bar {
    width: 20px;
    height: 3px;
    border-radius: 0;

    + .icon-bar {
      margin-top: 3px;
    }
  }

  .navbar & {
    border-color: $brand-primary;

    &:focus,
    &:hover {
      background-color: transparent;
    }

    .icon-bar {
      background-color: $brand-primary;
    }
  }
}

.navbar-nav {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  > li {
    margin: 0 15px;

    + li {
      border-top: 1px solid #e5e5e5;
    }
    > a {
      padding-right: 20px;
      padding-left: 20px;
      margin: -1px -15px;
    }
    >.dropdown-menu {
      padding-top: 3px;
      padding-bottom: 3px;
      margin: -1px -15px;
      text-transform: none;
    }
  }
  .navbar-default & {
    > li {
      > a {
        color: #9f9f9f;
      }
    }
    > .open {
      > a {
        &,
        &:focus,
        &:hover {
          font-weight: 600;
          color: #6e6e6e;
          background-color: transparent;
        }
      }
      .caret {
        &:after {
          border-color: #6e6e6e transparent transparent #6e6e6e;
          top: 1px;
        }
      }
      .dropdown-menu {
        background-color: #f8f8f8;
      }
    }
  }
  .caret {
    float: right;
    display: block;
    border: 0;

    &:after {
      content: "";
      width: 8px;
      height: 8px;
      border: 1px solid transparent;
      display: inline-block;
      position: relative;
      border-color: transparent #9f9f9f #9f9f9f transparent;
      transform: rotate(45deg);
      right: 15px;
      top: -4px;
    }
  }
  .dropdown-menu {
    > ul {
      position: relative;
      margin-top: 0;
      padding: 0;
      list-style: none;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 31px;
        display: block;
        width: 0;
        height: 0;
        margin-top: -9px;
        border-color: transparent transparent #f8f8f8;
        border-style: solid;
        border-width: 0 9px 9px;
      }
      &:before,
      &:after {
        display: table;
        content: " ";
      }
      &:after {
        clear: both;
      }
      > li {
        > a {
          display: block;
          padding: 11px 28px;
          font-weight: 500;
          line-height: 1.35;
          color: #909090;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: none;
          padding-left: 15px;
          padding-right: 15px;
          font-size: 16px;
          &:focus,
          &:hover {
            color: #4a4a4a;
            text-decoration: none;
            background-color: #dfdfdf;
          }
        }
      }
    }
    li {
      float: left;
      width: 50%;
      &:nth-child(odd) {
        border-right: 1px solid #fff;
      }
    }
  }
}

$banner-ratio: 3.094736842;
$banner-height: 190px;

.carousel-banners {
    position: relative;
    z-index: 1;
    &,
    .carousel-inner {
      height: $banner-height;
    }
    .carousel-inner {
      position: absolute;
      width: 100%;
      overflow: hidden;

      > .item {
        height: 100%;
        > img {
          max-width: none;
          height: $banner-height;
        }
      }
    }
    img {
      position: absolute;
      width: ceil($banner-height * $banner-ratio);
      left: 50%;
      top: 50%;
      margin-left: -($banner-height * $banner-ratio) / 2;
      margin-top: -$banner-height / 2;
    }
    .carousel-indicators {
      li,
      .active {
        width: 14px;
        height: 14px;
        margin: 4px;
      }
      li {
        background-color: #000;
        opacity: .3;
        border: 0;
        border-radius: 7px;
      }
      .active {
        background-color: #fff;
        opacity: 1;
      }
    }
    .carousel-control {
      display: none;
    }
}

h2 {
  line-height: .9;
  text-transform: uppercase;

  small {
    color: #a8a8a8;
    text-transform: lowercase;
    font-size: 74%;
    letter-spacing: -.045em;
    @media (min-width: $grid-float-breakpoint) {
      margin-left: 10px;
    }
  }
}

h2,
h3 {
  font-weight: 700;
  color: #dc0204;
}

.page-header {
  border-bottom: 0;
}

h2 small,
h3 span {
  font-weight: 300;
  white-space: nowrap;
  &:before { content: "["; }
  &:after { content: "]"; }
}

.glyphicon-heart,
.glyphicon-certificate,
.glyphicon-plus-sign {
  font-family: xicons-moveisjae;
}

.thumbnail {
  margin: -13px;
  cursor: default;
  background-color: transparent;
  border: 0;
  border-radius: 0;

  .caption {
    line-height: 1.5;
    color: #696969;
  }
}

.icon {
  float: left;
  padding: 9px;
  font-size: 30px;
  display: block;
  width: 52px;
  height: 52px;
  margin: 29px 9px 9px;
  line-height: 34px;
  color: rgba(0,0,0,.2);
  text-align: center;
  background-color: #e8e8e8;
  border-radius: 50%;
  vertical-align: middle;

  .glyphicon {
    line-height: 34px;
    top: 0;
  }
}

.about {
  h3 {
    min-height: 52px;
    font-weight: 500;
    color: #696969;
    margin-top: 18px;
    font-size: 25px;
    letter-spacing: -.036em;
  }
}

@import "buttons";
@import "forms";

.contact {
  .col-sm-6 {
    .row {
      margin-right: -8px;
      margin-left: -8px;
    }
    .col-xs-4,
    .col-xs-8 {
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  textarea {
    resize: none;
  }
}

.footer {
  margin-top: 20px;
  padding: 9px 0;
  font-weight: 300;
  line-height: 1.56;
  color: #fff;
  background-color: #c03730;
  background-image: url(../img/footer-background-320x253.jpg);
  background-position: center center;
  background-repeat: no-repeat;

  p {
    margin-bottom: 0;
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    > li {
      position: relative;
      display: block;

      > a {
        position: relative;
        padding: 1px 3px;
        display: inline-block;
        line-height: 36px;
        vertical-align: middle;
      }
    }
  }

  a {
    color: #fff;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  > .container {
    position: relative;
  }

  hr {
    border-top-color: rgba(255,255,255,.19);
    box-shadow: 0 1px 0 0 rgba(14,31,23,.25);
  }
}

.phone {
  a {
    font-size: 2.54em;
  }
}

.address {
  margin-top: 18px;
}

.socials {
  padding-top: 4px;
  > p {
    line-height: 36px;
    text-transform: uppercase;
    display: none;
  }
  ul {
    position: relative;
    top: 0;
    padding-left: 0;
    margin-top: 0;
    > li {
      float: none;
      display: inline-block;
    }
    li {
      &:before {
        content: "Curta:";
      }
      + li {
        &:before {
          content: "Siga-nos:";
        }
      }
    }
  }
}

.social {
  position: relative;
  display: inline-block;
  font-family: xicons-moveisjae;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  vertical-align: text-bottom;
  margin-left: 5px;
  margin-right: 5px;
}

.facebook { &:before{ content: "\e031" } }
.instagram { &:before{ content:"\e033" } }

.facebook,
.instagram {
  font-size: 34px;
  border-radius: 50%;
}

@import "xthor";

.host {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin-right: 10px;

  .btn {
    background-color: transparent;
    border: 0;
    width: 65px;
    height: 39px;
    text-transform: lowercase;
    font-family: xthor, sans-serif;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.07em;
    color: #fff;
    text-decoration: none;
    display: inline-block;
  }
}

.listening {
  .loader {
    display: block;
  }
  .app {
    display: none;
  }
}

.loading {
  .loader {
    display: block;
  }
}

.main-content {
  margin-top: 70px;
}

.carousel.fade {
  opacity: 1;

  .carousel-inner {
    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

//.carousel-banners,
//.about,
//.contact,
//.product-archive {
//  display: none;
//  .home & {
//    display: block;
//  }
//}
//
//.carousel-banners,
//.about,
//.contact,
//.product-archive,
//.footer {
//  .home.loading & {
//    display: none;
//  }
//}

.contact {
  .home.offline & {
    display: none;
  }
}

.tax-product_cat {
  display: none;
  .product-cat & {
    display: block;
  }
}

.product {
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
  h2 {
    a {
      color: #dc0204;
      font-size: 29px;
      min-height: 0;
      letter-spacing: -.02em;
      span {
        text-transform: lowercase;
        font-weight: 300;
      }
    }
  }
}

.home-content {
  display: none;
  .home & {
    display: block;
  }
}

.archive-content {
  display: none;
  .product-cat & {
    display: block;
  }
}

.view-content {
  display: none;
  .product-view & {
    display: block;
  }
}

.about-content {
  display: none;
  .about-page & {
    display: block;
  }
}

.samples {
  padding-left: 0;
  list-style: none;
  padding-left: 0;
  margin-left: -5px;
  li {
    display: inline-block;
    width: 59px;
    height: 58px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.56);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.56);
    border: 1px solid #c1c1c1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: 50% 50% #fff;
    color: #555;
    background: -webkit-linear-gradient(90deg,rgba(0,0,0,.06) 0,#fff 100%) 50% 50%/auto auto #fff;
    background-image: -moz-linear-gradient(0deg,rgba(0,0,0,.06) 0,#fff 100%);
    background-image: linear-gradient(0deg,rgba(0,0,0,.06) 0,#fff 100%);
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    margin: 1px;
    padding: 5px;
  }
  span {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    width: 47px;
    height: 47px;
    line-height: 47px;
  }
  span {
//    display: inline-block;
////    vertical-align: middle;
////    content: '\2022';
//    -webkit-border-radius: 50px;
//    border-radius: 50px;
////    width: 6px;
//    width: 47px;
////    height: 6px;
//    height: 47px;
//    background-color: yellow;
//    margin: 5px;
//    line-height: 59px;
//    background-position: center center;
//    border-color: -webkit-linear-gradient(90deg,#9c9c9c 0,#e6e6e6 100%);
//    border-color: -moz-linear-gradient(0deg,#9c9c9c 0,#e6e6e6 100%);
//    border-color: linear-gradient(0deg,#9c9c9c 0,#e6e6e6 100%);
  }
}

.about-page {
  .subtitle {
    font-weight: 300;
    &:before { content: "["; }
    &:after { content: "]"; }
  }

  .icon {
    background-color: #dc0204;
    color: #fff;
    margin: 0 auto -26px;
    position: relative;
    top: -26px;
  }
}

.criamos {
  background-color: #dc0204;
  h3,
  p {
    color: #fff;
  }
}

.glyphicon-road,
.glyphicon-gift {
  font-family: xicons-moveisjae;
}
